@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://use.typekit.net/nyo3fpk.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .page-title {
    font-weight: 800;
    letter-spacing: -6px;
  }
  .display-first-name {
    z-index: 2;
  }
  .display-last-name {
    transform: translateY(-1.75rem);
    z-index: 1;
  }
  .display-role {
    transform: translateY(-1.75rem);
  }

  @media (max-width: 768px) {
    .display-last-name {
      transform: translateY(-1.25rem);
    }
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 3px 4px 6px black;
  }
}
